<pre>
  <label class='compo_title'>'Test' partiel, de ma Librairie au format Angular Package, <span class='lib-name'>@ric-ng/ts-pays</span> : </label>

    Thème de librairie : Classes/Interfaces Typescript - gestion de Pays.
                        (mais Librairie créée au format: Angular Package).
    Sites :
            - GitHub : ric-ng-libs/ts-pays  (remote branché uniquement sur le dépôt local suivant :
                                              /projects/ts-pays/.git/, et NON sur le /.git/ de
                                              la présente application de 'test').
            - NPM    : @ric-ng/ts-pays (défini dans  /projects/ts-pays/package.json)

</pre>

<hr/><br><br>

{{ this.aPays | json }}

