<pre>
  <label class='compo_title'>'Test' partiel, de ma Librairie au format Angular Package, <span class='lib-name'>@{{npmOrganizationName}}/{{libraryName}}</span> : </label>

    Thème de librairie : {{libraryDescription}}.
                         (mais Librairie créée au format: Angular Package).
    Sites :
            - GitHub : {{gitHubOrganizationName}}/{{libraryName}}        
                (remote branché uniquement sur le dépôt local suivant :
                  /projects/{{libraryName}}/.git/, et NON sur le /.git/ de
                  la présente application de 'test'
                ).
            - NPM    : @{{npmOrganizationName}}/{{libraryName}} 
                (défini dans  /projects/{{libraryName}}/package.json)

</pre>

<hr/><br><br>