<pre>
  <i><b><u>mini-APPLICATION de 'Test' partiel, de ma Librairie au format Angular Package : </u></b></i>

    Thème : Classes/Interfaces Typescript - générales. (mais Librairie créée au format: Angular Package).
    Sites :
            - GitHub : ric-ng-libs/ts-general  (remote branché uniquement sur le dépôt local suivant :
                                                 /projects/ts-general/.git/, et NON sur le /.git/ de
                                                la présente application de 'test').
            - NPM    : @ric-ng/ts-general (défini dans  /projects/ts-general/package.json)

</pre>

<br><br><hr/><br><br>

{{ this.aItems | json }}
