/* You can add global styles to this file, and also import other style files */
.compo_title {
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
}

.lib-name {
  color: red;
}

button {
  border-radius: 15px;
}

.zone-de-test {
  border: solid blueviolet;
  margin: 15px;
  margin-top: 25px;
  padding: 10px;
}

